.blog-post {
  /* text-align: center; */
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.blog-title {
  /* text-align: center; */
  font-size: 36px;
}
.blog-image {
  border-radius: 1%;
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}
.blog-meta {
  margin-bottom: 20px;
}
.blog-date {
  margin-right: 20px;
}
.blog-content {
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .wrapper {
    flex-direction: row;
  }
}

.aside {
  flex: 0 0 25%;
  margin-top: 4rem;
  padding-inline: 5rem;
  hyphens: auto;
}
